$color-canvas: #ffffff;

$color-text-primary: #242424;
$color-text-secondary: #ef358b;
$color-text-inverted: #ffffff;

$color-button: #ef358b;

$color-background-block-primary: #ffffff;
$color-background-block-secondary: #fff6eb;
$color-background-block-tertiary: #ffcf5d;
