.header {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }

  &__nav {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.48px;
  }

  &__nav-link {
    text-decoration: none;
    color: inherit;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 13px;
  cursor: pointer;
}

.logo-text {
  font-size: 20.856px;
  font-weight: 700;
  line-height: 144%;
  letter-spacing: 0.626px;
  &__highlight {
    color: $color-text-secondary;
  }
}
